// SASS DECLARATIONS

$black: #222;
$white: #FFF;
$blue: #47AAD8;
$dark-blue: #036694;
$button: #DDD;
$radius: 3px;

@mixin border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@mixin zero {
	margin: 0;
	padding: 0;
}

// STYLING BEGINS

*, *:before, *:after {
	@include border-box;
}
html {
	@include zero;
	height: 100%;
}
body {
	@extend html;
	background: $white;
	color: $black;
	font: 400 16px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
	color: red;
	display: block;
}
a:hover {
	cursor: pointer;
}
.start {
	background: url(../../designassets/bg_img.jpg);
	margin: 0 auto;
	text-align: center;
	width: 800px;
	max-width: 90%;
	h1 {
		color: $black;
		font-size: 40px;
		margin: 0 auto;
		text-transform: uppercase;
	}
	input {
		border: 1px solid #888;
		color: $black;
		display: block;
		font-size: 16px;
		font-weight: 500;
		height: 35px;
		line-height: 2;
		margin: 20px auto;
		outline: 0;
		width: 400px;
	}
	button {
		background: $blue;
		border: none;
		border-bottom: 2px solid $dark-blue;
		border-radius: $radius;
		color: $white;
		font-size: 20px;
		font-weight: bold;
		display: block;
		margin: 0 auto;
		outline: none;
		padding: 5px 30px;
		text-shadow: 0 1px #036694;
		&:hover {
			background: #58BBE9;
			border-bottom-width: 1px;
			cursor: pointer;
			position: relative;
			top: 1px;
		}
		&:active {
			background: #65C5F5;
			border-bottom-width: 0;
			position: relative;
			top: 2px;
		}
	}
}