// SASS DECLARATIONS

$black: #222;
$white: #FFF;
$blue: #47AAD8;
$dark-blue: #036694;
$button: #DDD;
$radius: 3px;

@mixin border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@mixin zero {
	margin: 0;
	padding: 0;
}
@mixin centre {
	position: absolute;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

// STYLING BEGINS

*, *:before, *:after {
	@include border-box;
}
html {
	@include zero;
	height: 100%;
}
body {
	@extend html;
	color: $black;
	font: 400 16px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: white;
        &.start {
          background: url(../assets/bg_img.jpg) no-repeat;
          background-size: cover;
        }
}
a {
	color: red;
	display: block;
}
a:hover {
	cursor: pointer;
}

.listing {
  li {
    &:after {
      content: " ";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
  }
  div.img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

.garage-listing {
  .name {
    font-weight: bold;
    color: blue;
    display: block;
    margin-bottom: 5px;
  }
}

.start {
	height: 100%;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	max-width: 90%;
	.main {
		@include centre;
	}
	h1 {
		color: $black;
		font-size: 40px;
		margin: 0 auto;
		text-transform: uppercase;
	}
	input {
		background: #FFF;
		border: 1px solid #AAA;
		box-shadow: none;
		color: $black;
		display: block;
		font-size: 22px;
		font-weight: 500;
		height: 45px;
		line-height: 2;
		margin: 41px auto 20px;
		outline: 0;
		padding: 5px;
		width: 400px;
		max-width: 90%;
	}
	button {
		background: $blue;
		border: none;
		// border-bottom: 2px solid $dark-blue;
		box-shadow: 0 2px 0 0 $dark-blue;
		border-radius: $radius;
		color: $white;
		font-size: 20px;
		font-weight: bold;
		display: block;
		margin: 0 auto;
		outline: none;
		padding: 5px 30px;
		text-shadow: 0 1px #036694;
		&:hover {
			background: #58BBE9;
			// border-bottom-width: 1px;
			box-shadow: 0 1px 0 0 $dark-blue;
			cursor: pointer;
			position: relative;
			top: 1px;
		}
		&:active {
			background: #65C5F5;
			// border-bottom-width: 0;
			box-shadow: none;
			position: relative;
			top: 2px;
		}
	}
}
